<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title - Shopping Express</title>
    @Styles.Render("~/Content/bootstrap.css")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <style >
        /* Remove the navbar's default rounded borders and increase the bottom margin */
        .navbar {
            margin-bottom: 50px;
            border-radius: 0;
        }

        /* Remove the jumbotron's default bottom margin */
        .jumbotron {
            margin-bottom: 0;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 0px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <div class="collapse navbar-collapse fixed-top" style="background-color:black; position: absolute;" id="myNavbar">

                <ul class="nav navbar-nav navbar-expand-sm">
                    <li class="dropdown">
                        <a class="dropdown" data-toggle="dropdown" href="#">
                            Departments
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Clothing, Footwear & Jewelry", "ClothingFootwearJewelry", "Home")</li>
                            <li>@Html.ActionLink("Beauty & Health", "BeautyHealth", "Home")</li>
                            <li>@Html.ActionLink("Electronics, Computers & Office", "ElectronicsComputerOffice", "Home")</li>
                            <li>@Html.ActionLink("Home & Garden", "HomeGarden", "Home")</li>
                            <li>@Html.ActionLink("Sports & Outdoors", "SportsOutdoors", "Home")</li>
                            <li>@Html.ActionLink("Toys", "Toys", "Home")</li>
                        </ul>
                    </li>


                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Products", "Products", "Home")</li>
                        <li>@Html.ActionLink("Deals", "Deals", "Home")</li>
                        <li>@Html.ActionLink("Stores", "Stores", "Home")</li>
                        <li>@Html.ActionLink("Contact Us", "ContactUs", "Home")</li>
                    </ul>
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-expand-sm">
                    <div class="topnav" style="padding-top: 10px">
                        <input type="text" placeholder="Search..">
                    </div>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
                </ul>


            </div>

            @*<div class="container text-center" style="position:center; padding-bottom: 15%">
                <div class="container"><img src="~/StoreImages/StoreIcons/OnlineShopIcon1.jpg" class="img-responsive" style="position:absolute" height="250" ; width="250" /></div>
            </div>*@

        </div>

    </nav>







    <div class="container body-content">
        @RenderBody()
        <hr />


        @*<style>
                p.ex1 {
                    border: 1px solid red;
                    padding-bottom: 10%;
                }
            </style>*@
        <footer style="background-color: transparent; padding-bottom: 0%">
            <p>&copy; @DateTime.Now.Year - Shopping Express</p>
            <form class="form-inline">
                Get deals:
                <input type="email" class="form-control" size="50" placeholder="Email Address">
                <button type="button" class="btn btn-danger">Sign Up</button>
            </form>
        </footer>
        @*<footer style="background-color: transparent; text-align:center; padding-bottom: unset" >
                <p>&copy; @DateTime.Now.Year - Shopping Express</p>
            </footer>*@
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>


